@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Nunito', sans-serif;
	font-size: 25px;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(85,85,0,1) 69%, rgba(85,85,0,1) 100%);
	color: #FFFFFF;
	margin: 0;
}

h2 {
	font-size: 2rem;
}

.center {
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.right {
	text-align: right;
}

.largenav {
    width: 100%;
    height: 10%;
    background-color: #000000;
    position: fixed;
	top: 0;
}

.nav-up {
  top: -40px;
}

.mobnav {
	display: none;
	top: 0;
    width: 100%;
    height: 10%;
    background-color: #000000;
    position: fixed;
}

#title {
	color: #fff;
	font-size: 1.25rem;
	margin-right: auto;
	padding: 20px;
	margin-top: auto;

}

#title:hover {
	transform: rotate(360deg);
	transition: transform 0.5s;
}

.container {
	display: flex;
	justify-content: space-between;
}

.menu {
/*	background-color: #000000;*/
	color: #FFFFFF;
	padding: 20px;
	font-size: 1.25rem;
	text-align: center;
	
}

.logo {
/*	padding: 10%;*/
	width: 100%;
	height: auto;
	margin-top: 6%;
}

.logo:hover {
	transform: scale(5, 5);
	transition: 0.6s;
}

#proimg {
	border-radius: 50%;
	border: thick 20px #FFFFFF;
	padding: 10%;
	width: 200px;
	height: 200px;
/*	margin-top: 100px;*/
	
	
}

#topimg {
/*	margin-top: 10px;*/
}

#aboutme {
	padding: 20%;
	max-width: 50%;
	font-size: 1.2rem;
/*	margin-top: 1%;*/
}



a:hover {
	background-color: #FFFFFF;
	color: #000000;
	transition: background 1s;
/*	padding:;*/
	border-radius: 5%;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

/*Below is for the interactive mobile navigation*/

#menuToggle
{
  display: block;
  position: relative;
  top: 20px;
  left: 10%;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 10%;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 25%;
  margin: -30% 0 0 -15%;
  padding: 50px;
  padding-top: 125px;
  
  background: #000000;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 20px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

@media screen and (max-width 1000px) {
	.title {
		font-size: 0.1rem;
	}
	.menu {
		font-size: 0.75rem;
	}
}

@media only screen and (max-width: 375px) {
	.largenav {
		display: none;
	}
	.mobnav {
		display: block;
	}
	#aboutme {
		max-width: 75%;
		padding: inherit;
		margin-top: 50%;
	}
	#mobtitle {
		font-size: 1.2rem;
	}
	.logo img {
		width: 100%;
		height: auto;
		padding: 1%;
	}
	
}


